Faker==2.0.4
robotframework==3.1.2
robotframework-datetime-tz==1.0.6
robotframework-faker==4.2.0
robotframework-screencaplibrary==1.5.1
robotframework-seleniumlibrary==5.1.3
robotframeworklexer==1.1
selenium==3.141.0
text-unidecode==1.3
robotframework-pabot==2.1.0
JayDeBeApi==1.2.3
robotframework-databaselibrary==1.2.4
